div#rdb_comments{
margin-bottom:10px;
border:1px solid #ddd;
padding:10px 10px 10px 10px;
border-top:0px;
}

div#rdb_comments_spacer{
height:20px;
display:none;
}

a.rdb_youtube_user{
display:inline-block;
margin-bottom:3px;
font-size:13px;
font-weight:normal;
}

a.rdb_watchlink{
display:inline-block;
margin-bottom:7px;
font-weight:normal;
font-size:13px;
}


a.rdb_watchlink:last-child{
margin-bottom:0px !important;
}

div.rdb_comment{
margin-bottom:10px;
border:1px solid #ddd;
padding:7px 10px 10px 10px;
font-size:12px;
}
	  
div.rdb_content{
margin-bottom:7px;
margin-top:3px;
overflow:hidden;
line-height:17px;
}


div.rdb_links__thumb_container{
float:left;
padding-right:10px;
}

div.rdb_links__thumb_container a img{
width:60px;
}

div.rdb_link_container{
float:left;
}

div.rdb_link_container_clearer{
clear:left;
height:0px;
}

div.rdb_highlighted{
background-color:#eee;
}

div.rdb_highlighted a{
font-weight:bold;
}

div.rdb_highlighted{
background-color:#eee;
border-color:#bcbcbc;
}


div.rdb_comment div.rdb_links_container div.rdb_link_container{
width:auto;
float:none;
}


div.rdb_highlighted div.rdb_links_container div.rdb_link_container{
width:280px !important;
float:left;
}




span.rdb_notice{
display:block;
margin-left:4px;
font-size:11px;
}


img.rdb_loader{

}


img.rdb_icon{
height:25px;
width:25px;
}

div#rdb_header_container{
padding:10px 10px 0px 10px;
background-color:#eee;
border:1px solid #ddd;
}

div.rdb_header{


}

div.rdb_header h3{
color:#000;
margin-top:3px;
font-size:14px;
}


img#rdb_arrow{
cursor:pointer;
float:right;
margin-top:20px;
}


div.rdb_header_left{
float:left;
width:30px;
}

div.rdb_header_right{
float:left;
padding-left:4px;
}


div.rdb_clear{
clear:left;
height:7px;
}
	  
	  
	  
	  
